html {
  box-sizing: border-box;
  font-family: century-gothic, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 10px;
  background-color: #b7c5d3;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.library {
  margin-top: 200px;
  min-width: 300px;
  height: auto;
  background-color: rgb(242, 241, 241);
  border: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book {
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  p {
    margin: 0;
  }
  padding: 10px;
}

#bookList {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

input:not([type="radio"]),
select,
textarea {
  font-family: inherit;
  padding: 3px;
  margin: 5px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid grey;
}

#addBookBtn,
#addNewBook,
.removeBtn,
.readBtn,#cancel {
  padding: 5px 40px;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

#addNewBook {
  background-color: #2196f3;
}

.removeBtn {
  padding: 5px 20px;
  background-color: #f44336;
  display: none;
  transition: all 0.3s ease;
}

.read {
  background-color: #4caf50;
}

.notRead,#cancel {
  background-color: #f44336 !important;
}

.book:hover {
  height: auto;
  .removeBtn {
    display: block;
  }
}

dialog[open] {
  animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

legend {
  display: block;
}

.checkboxLabel {
  display: inline;
}

#addBookDialog{
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border:none;
}